<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ 'NOTIFICATIONS.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="markAllAsRead()">
        <ion-icon name="checkmark-done-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="notifications-content">
  <!-- Empty State -->
  <div class="empty-state" *ngIf="notifications.length === 0">
    <ion-icon name="notifications-off-outline"></ion-icon>
    <h3>No Notifications</h3>
    <p>You're all caught up!</p>
  </div>

  <!-- Notifications List -->
  <div class="notifications-list" *ngIf="notifications.length > 0">
    <div class="notification-item" 
         *ngFor="let notification of notifications; let i = index"
         [class.unread]="!notification.read"
         [class.sliding]="notification.isSliding"
         (touchstart)="onTouchStart($event, i)"
         (touchmove)="onTouchMove($event, i)"
         (touchend)="onTouchEnd($event, i)">
      
      <div class="notification-content">
        <div class="notification-icon" [style.background]="notification.color">
          <ion-icon [name]="notification.icon"></ion-icon>
        </div>
        <div class="notification-details">
          <h3>{{ notification.title }}</h3>
          <p>{{ notification.message }}</p>
          <span class="notification-time">{{ notification.time }}</span>
        </div>
      </div>

      <div class="notification-actions">
        <div class="delete-action" (click)="deleteNotification(i)">
          <ion-icon name="trash-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>
