<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Set Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="search-page">
  <!-- Map Container -->
  <div class="map-container">
    <capacitor-google-map #map2 id="map2"></capacitor-google-map>
    
    <!-- Center Marker -->
    <div class="center-marker">
      <ion-icon name="location"></ion-icon>
    </div>
  </div>

  <!-- Address Card -->


  <div class="address-card">
    <div class="card-content">
      <div class="location-icon">
        <ion-icon name="location-outline"></ion-icon>
      </div>
      <div class="address-details">
        <p>{{selectedAddress || 'Select Location'}}</p>
      </div>
      <ion-button fill="clear" (click)="confirmLocation()">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </div> 

  <!-- Search Bar -->
  <div class="search-bar">
    <ion-searchbar
      placeholder="Search for a location"
      [(ngModel)]="searchQuery"
      (ionChange)="searchLocation()"
      (ionInput)="searchLocation()"
      (ionClear)="clearSearch()"
      animated
      clearIcon="close-circle"
    ></ion-searchbar>
  </div>
</ion-content>
