.loading-container,
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem;
  text-align: center;
}

.error-container {
  ion-icon {
    margin-bottom: 1rem;
  }

  h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  p {
    color: var(--ion-color-medium);
    margin-bottom: 2rem;
  }
}

.ride-container {
  ion-card {
    margin: 1rem;
  }

  #shared-ride-map {
    width: 100%;
    height: 300px;
    margin-bottom: 1rem;
  }
}

